<html>
<head>
    <title>CMS</title>
    <link rel='stylesheet' href='stylesheets/cms.css' />
</head>
<body>
    <select id="upload-type">
        <option value="qu">上传问题</option>
        <option value="tut">上传教程</option>
        <option value="book">上传读物</option>
    </select>
    <hr>
    <section id="book" style="display: none">
        <form enctype="multipart/form-data" method="post" action="/upload-book">
            <div>
                <div><label>书名<input name="title" type="text"></label></div>
                <div><label>书本<input name="page" type="file"></label></div>
                <div><label>音频<input name="audio" type="file"></label></div>
            </div>
            <input type="submit" value="提交">
        </form>
    </section>
    <section id="tut" style="display: none">
        <form enctype="multipart/form-data" method="post" action="/upload-tutorial">
            <div>
                <div><label>标题<input name="title" type="text"></label></div>
                <div><label>音频<input name="tutorial" type="file"></label></div>
            </div>
            <input type="submit" value="提交">
        </form>
    </section>
    <section id="qu">
        <form enctype="multipart/form-data" method="post" action="/upload-question">
            <div>
                <div><label>问题<input name="question" type="file"></label></div>
                <div><label>音频<input name="narrative" type="file"></label></div>
                <div><label>难度
                        <select name="level">
                            <option value="1">1年级</option>
                            <option value="2">2年级</option>
                            <option value="3">3年级</option>
                            <option value="4">4年级</option>
                            <option value="5">5年级</option>
                            <option value="6">6年级</option>
                            <option value="7">7年级</option>
                            <option value="8">8年级</option>
                            <option value="9">9年级</option>
                            <option value="10">10年级</option>
                            <option value="11">11年级</option>
                            <option value="12">12年级</option>
                        </select></label></div>
            </div>
            <div class="opt_list">
                <br>
                <h3>选项:</h3>
                <div class="opt"><div><label>选项1<input name="opt_word_1" type="text"><input name="opt_img_1" type="file"></label></div><div><label><input name="answer" value="opt_1" type="radio">标记为答案</label></div><div class="addmore"><a href="#">添加</a></div></div>
            </div>
           <input type="submit" value="提交">
        </form>
    </section>
    <script type="text/javascript">
        let uploadtutorial = document.getElementById("upload-type");
        let optlist = document.querySelector(".opt_list");
        let opt_count = 1
        optlist.addEventListener("click", function (e) {
            if (e.target.tagName === 'A') {
              addopt()
            }
        });

        uploadtutorial.addEventListener("change", function (e) {
           let v = uploadtutorial.value;
           if(v == "tut") {
              document.getElementById("tut").style.display = "block";
              document.getElementById("qu").style.display = "none";
              document.getElementById("book").style.display = "none";
           } else if(v == "book") {
               document.getElementById("tut").style.display = "none";
               document.getElementById("qu").style.display = "none";
               document.getElementById("book").style.display = "block";
           } else {
               document.getElementById("tut").style.display = "none";
               document.getElementById("qu").style.display = "block";
               document.getElementById("book").style.display = "none";
           }
        })
        function addopt() {
            let html = `<div><label>选项${++opt_count}<input name="opt_word_${opt_count}" type="text"><input name="opt_img_${opt_count}" type="file"></label></div><div><label><input name="answer" value="opt_${opt_count }" type="radio">标记为答案</label></div><div class="addmore"><a href="#">添加</a></div>`;
            var opt = document.createElement("div");
            opt.className = "opt";
            opt.innerHTML = html;
            optlist.appendChild(opt);
        }
    </script>
</body>
</html>